@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }

  h1,
  h2,
  h3 {
    @apply font-alice;
  }

  h4,
  h5,
  h6 {
    @apply font-inter;
  }

  a,
  button {
    @apply font-poppins;
  }
}

@layer components {
  button,
  a {
    @apply focus:outline-none;
  }

  /* .shadow-box {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
  } */

  input:not([type='radio']):focus {
    @apply outline-none ring-0 focus:border-primary !important;
  }

  [type='radio']:checked {
    @apply bg-primary;
    /* background-image: none; */
  }
  [type='checkbox']:checked,
  [type='checkbox']:checked:hover,
  [type='checkbox']:checked:focus {
    @apply bg-secondary-alternative border-primary border-2;
    background-image: url('/icons/tik.svg');
    background-size: 12px;
  }
  .timeline {
    @apply border-t-2 odd:ml-3 even:mr-3 odd:border-r-2 odd:rounded-tr-2xl even:border-l-2 even:rounded-tl-2xl border-primary;
  }
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  @apply bg-secondary !important;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  @apply bg-secondary-alternative/20 !important;
}

@media (max-width: 800px) {
  .banner {
    background-position: -120px !important;
  }
}
