@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-inter;
  }

  h1,
  h2,
  h3 {
    @apply font-alice;
  }

  h4,
  h5,
  h6 {
    @apply font-inter;
  }

  a,
  button {
    @apply font-poppins;
  }
}

@layer components {
  button,
  a {
    @apply focus:outline-none;
  }

  /* .shadow-box {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);
  } */

  input:not([type='radio']):focus {
    @apply outline-none ring-0 focus:border-primary;
  }

  [type='radio']:checked + label .checked-outer {
    @apply bg-secondary-alternative;
  }
  [type='radio']:checked + label .checked-outer .checked-inner {
    @apply bg-primary;
  }

  [type='radio']:checked + label .checked-outer,
  [type='radio']:checked:hover + label .checked-outer,
  [type='radio']:checked:focus + label .checked-outer {
    @apply bg-secondary-alternative;
  }

  [type='checkbox']:checked,
  [type='checkbox']:checked:hover,
  [type='checkbox']:checked:focus {
    @apply bg-[#FFB1B6] border-primary border-2;
    background-image: url('/icons/tik.svg');
    background-size: 14px;
  }

  .timeline {
    @apply border-t-2 odd:ml-3 even:mr-3 odd:border-r-2 odd:rounded-tr-[25px] even:border-l-2 even:rounded-tl-[25px] border-primary;
  }
  .gradient {
    background: linear-gradient(120.68deg, #fce3eb 30.04%, #ffffff 100%);
  }
}
/* .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  @apply bg-secondary !important;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  @apply bg-secondary-alternative/20 !important;
} */

@media screen and (min-width: 300px) {
  .banner {
    background-position: -180% 0%, 0% 0% !important;
  }
}
@media screen and (min-width: 400px) {
  .banner {
    background-position: -30% 0%, 0% 0% !important;
  }
}

@media screen and (min-width: 576px) {
  .banner {
    background-position: -40% 0%, 0% 0% !important;
  }
}

@media screen and (max-width: 479px) {
  .banner-bubble-item-1 {
    @apply mt-[-1.2rem];
  }
  .banner-bubble-item-2 {
    @apply -ml-8;
  }
}
@media screen and (max-width: 367px) {
  .bubble {
    @apply w-[106px] h-[106px];
  }
  .bubble h4 {
    @apply text-[10px];
  }
}

@media screen and (max-width: 349px) {
  .banner-bubble-item-1 {
    @apply mt-0;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background-position: -20% 0%, 0% 0% !important;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    background-position: -0% 0%, 0% 0% !important;
  }
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  @apply bg-secondary-alternative !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  @apply bg-secondary !important;
}
