@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-inter;
  }

  h1,
  h2,
  h3 {
    @apply font-alice;
  }

  h4,
  h5,
  h6 {
    @apply font-inter;
  }

  a,
  button {
    @apply font-semibold;
  }
}

@layer components {
  button,
  a {
    @apply focus:outline-none;
  }

  .shadow-box {
    box-shadow: -3px 4px 4px 2px rgba(0, 0, 0, 0.05);
    @apply border border-r-0 border-[#eee] rounded-[10px] rounded-r-none;
  }

  input:not([type='radio']):focus {
    @apply outline-none ring-0 focus:border-primary;
  }

  [type='radio']:checked + label .checked-outer {
    @apply bg-secondary-alternative;
  }
  [type='radio']:checked + label .checked-outer .checked-inner {
    @apply bg-primary;
  }

  [type='radio']:checked + label .checked-outer,
  [type='radio']:checked:hover + label .checked-outer,
  [type='radio']:checked:focus + label .checked-outer {
    @apply bg-secondary-alternative;
  }

  [type='checkbox']:checked,
  [type='checkbox']:checked:hover,
  [type='checkbox']:checked:focus {
    @apply bg-[#FFB1B6] border-primary border-2;
    background-image: url('/icons/tik.svg');
    background-size: 14px;
  }
  .select-registry > [type='checkbox']:checked + label,
  .select-registry > [type='checkbox']:checked:hover + label,
  .select-registry > [type='checkbox']:checked:focus + label {
    @apply border-primary;
  }
  .select-gift > [type='checkbox']:checked + label .minus {
    @apply inline-block !important;
  }

  .select-gift > [type='checkbox']:checked + label {
    @apply opacity-50;
  }

  .select-gift > [type='checkbox']:checked + label .plus {
    @apply hidden;
  }

  .timeline {
    @apply border-t-[3px] odd:ml-3 even:mr-3 odd:border-r-[3px] odd:rounded-tr-[25px] even:border-l-[3px] even:rounded-tl-[25px] border-primary;
  }
  .gradient {
    background: linear-gradient(120.68deg, #fce3eb 30.04%, #ffffff 100%);
  }

  .scroll-design::-webkit-scrollbar {
    display: none;
  }

  .pulse > span {
    animation: pulse-2-5 1s linear infinite;
    border-radius: 50%;
    display: block;
    @apply w-[90px] h-[90px] absolute z-[-1] bg-secondary;
  }

  .pulse > span > span {
    border-radius: 50%;
    display: block;
    @apply w-[90px] h-[90px] absolute z-[-1];
  }

  .pulse > span > span:after {
    animation: pulse-2-5 1s linear infinite;
    border-radius: 50%;
    content: '';
    display: block;
    @apply w-[90px] h-[90px] absolute z-[-1] bg-secondary;
  }

  @media screen and (max-width: 599px) {
    .pulse > span {
      animation: pulse-2-5 1s linear infinite;
      border-radius: 50%;
      display: block;
      @apply w-[60px] h-[60px] absolute bg-secondary !important;
    }

    .pulse > span > span {
      border-radius: 50%;
      display: block;
      @apply w-[60px] h-[60px] absolute !important;
    }

    .pulse > span > span:after {
      animation: pulse-2-5 1s linear infinite;
      border-radius: 50%;
      content: '';
      display: block;
      @apply w-[60px] h-[60px] absolute bg-secondary !important;
    }
  }

  @keyframes pulse-2-5 {
    0% {
      opacity: 0.75;
      transform: scale(1);
    }
    25% {
      opacity: 0.75;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.4);
    }
  }
}
/* .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  @apply bg-secondary !important;
}
.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  @apply bg-secondary-alternative/20 !important;
} */

@media screen and (min-width: 300px) {
  .banner {
    background-position: -180% 0%, 0% 0% !important;
  }
}
@media screen and (min-width: 400px) {
  .banner {
    background-position: -30% 0%, 0% 0% !important;
  }
}

@media screen and (min-width: 576px) {
  .banner {
    background-position: -40% 0%, 0% 0% !important;
  }
}

@media screen and (max-width: 479px) {
  .banner-bubble-item-1 {
    @apply mt-[-1.2rem];
  }
  .banner-bubble-item-2 {
    @apply -ml-8;
  }
}
@media screen and (max-width: 367px) {
  .bubble {
    @apply w-[106px] h-[106px];
  }
  .bubble h4 {
    @apply text-[10px];
  }
}

@media screen and (max-width: 349px) {
  .banner-bubble-item-1 {
    @apply mt-0;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background-position: -20% 0%, 0% 0% !important;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    background-position: -0% 0%, 0% 0% !important;
  }
}

@media screen and (max-width: 1192px) {
  .registry-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 1023px) {
  .registry-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 786px) {
  .registry-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}

@media screen and (max-width: 576px) {
  .registry-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  @apply bg-secondary-alternative !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  @apply bg-secondary !important;
}

.headerTitleImage {
  left: -37px;
  top: 0;
  width: 140%;
}

@media screen and (max-width: 1440px) {
  .customBox {
    height: 135px !important;
  }
}

@media screen and (max-width: 1024px) {
  .subTitle1 {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 1023px) {
  .footerWrapper {
    flex-direction: column-reverse !important;
  }
}

@media screen and (max-width: 599px) {
  .headerTitle {
    font-size: 36px !important;
  }
  .headerTitleImage {
    left: -28px !important;
    top: 0 !important;
  }
  .commonTitle {
    font-size: 24px !important;
  }
  .commonTitle1 {
    font-size: 23px !important;
  }
  .mudiumTitle {
    font-size: 18px !important;
  }
  .subTitle {
    font-size: 15px !important;
  }
  .customBox {
    height: 87px !important;
  }
  .socialGap {
    gap: 21px !important;
  }
  .customLabel {
    font-size: 12px !important;
  }
  .createButton {
    padding: 15px 25px !important;
    font-size: 16px !important;
  }
  .customStep {
    width: 50px !important;
  }
  .miniTitle {
    font-size: 12px !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .customGap {
    margin: 0 !important;
    padding: 0 !important;
    gap: 2 !important;
  }
  .customSocialIcon {
    font-size: 10px !important;
    width: 25px !important;
    height: 25px !important;
  }
  .customButton {
    width: 300px !important;
  }
  .customGrid {
    width: 100% !important;
    display: flex !important ;
    flex-direction: column !important;
  }
  .customItem {
    width: 100% !important;
    display: flex !important ;
    justify-content: center !important;
  }
  .customPosition {
    bottom: 50px !important;
  }
  .customPadding {
    padding: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .customImage {
    height: 40px !important;
    margin: auto !important;
  }
  .customContentText {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .customMarginPadding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .customBottom {
    margin-bottom: 10px !important;
  }
  .dashboardTitle {
    font-size: 12px !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }
  .dashboardImage {
    width: 40px !important;
    height: 40px !important;
  }
  .dashboardMaringPadding {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .websitePadding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .buttonPaddig {
    padding: 8px 15px !important;
  }
  .customAlignCenter {
    text-align: center !important ;
  }
  .customMobile {
    right: 44px !important;
    left: 44px !important;
    bottom: 22px !important;
  }
  .customMobileImg {
    width: 300px !important;
  }
  .responsiveImg {
    height: 50% !important;
  }
  .desktopPreview {
    width: 400px !important;
    height: 300px !important;
    max-height: 300px !important;
  }
  .desktopImagesWrapper {
    right: 53px !important;
    left: 52px !important;
    bottom: 58px !important;
    top: 16px !important;
  }
  .desktopImage {
  }
  .tabPreview {
    width: 400px !important;
    height: 300px !important;
    max-height: 300px !important;
  }
  .tabImagesWrapper {
    right: 15px !important;
    left: 14px !important;
    bottom: 139px !important;
    top: 13px !important;
  }
}

@media screen and (max-width: 480px) {
  .desktopPreview {
    width: 300px !important;
    height: 200px !important;
    max-height: 300px !important;
  }
  .desktopImagesWrapper {
    right: 40px !important;
    left: 39px !important;
    bottom: 58px !important;
    top: 12px !important;
  }
  .desktopImage {
    height: 77px !important;
  }
  .countDownBorder {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-width: 40px !important;
    border: none !important;
  }
  .tabPreview {
    width: 300px !important;
    height: 400px !important;
    max-height: 400px !important;
  }
  .tabImage {
    height: 62% !important;
  }
  .tabImagesWrapper {
    right: 10px !important;
    left: 11px !important;
    bottom: 143px !important;
    top: 17px !important;
  }
}

.form-control {
  @apply rounded-[5px] !important;
}
